# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*

# testing
coverage/
playwright-report/
test-results/

# next.js
.next/
out/
build/
dist/

# misc
.DS_Store
*.pem

# env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# brainstorm artifacts
.superpowers/
